
#asa_setup label {
	width: 250px;
	display: inline;
	background: #E5F3FF;
	padding: 3px;
}

#asa_setup #_asa_amazon_api_key, #asa_setup #_asa_amazon_tracking_id {
	width: 300px;
}

#asa_setup #_asa_status_label {
	font-size: 1.3em;
}

#asa_setup ._asa_status_ready, #asa_setup ._asa_status_not_ready {
	font-size: 1.3em;
}

#asa_setup ._asa_status_ready {
	color: #1D7100;
}

#asa_setup ._asa_status_not_ready {
	color: #BF0005;
}

._asa_error_label {
	color: #BF0005;
	font-size: 1.3em;
}

._asa_success_label {
	color: #1D7100;
	font-size: 1.3em;
}


#asa_navigation {
	list-style:			none;
	margin: 			0 10px;
	padding:			0;
	clear:				both;
	border-bottom:		1px solid #bbb;
	height:				20px;
}

#asa_navigation li {
	float:				left;
	margin: 			0 7px 0 5px;
	text-align:			center;
}

#asa_navigation li a {
	display:			block;
	height:				20px;
	padding:			0px 6px 0 6px;
	color:				#666;
	width:				80px;
	text-decoration: 	none;
	font-size: 			1em;
	border-bottom:		1px solid #bbb;
}

#asa_navigation li a.active, #asa_navigation li a.active:hover {
	background-color: 	#ddd;
}

#asa_navigation li a:hover {
	background-color: 	#efefef;
}