
#icon-asa {
    background: url("../img/icon-32-grey.png") no-repeat;
}

#asa_setup #_asa_amazon_api_key, #asa_setup #_asa_amazon_tracking_id, #asa_setup #_asa_amazon_api_secret_key {
    width: 300px;
}

#asa_setup #selected_store {
    vertical-align: middle;
}

#asa_setup #_asa_status_label {
    font-size: 1.3em;
}

#asa_setup ._asa_status_ready, #asa_setup ._asa_status_not_ready {
    font-size: 1.3em;
}

#asa_setup ._asa_status_ready {
    color: #1D7100;
    background: url("../img/tick.png") left top no-repeat;
    padding: 10px 42px;
    margin-left: 10px;
    font-size: 1.8em;
}

#asa_setup ._asa_status_not_ready {
    color: #BF0005;
    background: url("../img/cross.png") left top no-repeat;
    padding: 10px 42px;
    margin-left: 10px;
    font-size: 1.8em;
}

._asa_error_label {
    color: #BF0005;
    font-size: 1.3em;
}

._asa_success_label {
    color: #1D7100;
    font-size: 1.3em;
}

#asa_content {
    clear: both;
}

#asa_content fieldset {
    border: 0;  
    padding: 0;
}

.asa_box_warning {
    background: url("../img/warning_16.png") 5px 12px no-repeat;
    margin-top: 5px;
    padding: 0 28px;
    background-color: #ededed;
    border: 1px solid #aa0000;
}


#asa_navigation {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 10px 0 10px 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
}
#asa_navigation li {
    font-size:14px;
    float: left;
    margin: 0 0 0 20px;
}
#asa_navigation li a {
    display:            block;
    text-decoration:    none;
    padding:            5px 20px;
    border-top:             1px solid #ccc;
    border-right:             1px solid #ccc;
    border-left:             1px solid #ccc;
}

#asa_navigation li a.active {
    background-color: #E5F3FF;
}
#asa_navigation li a:hover {
    background-color: #fff;
}
/*
#asa_navigation li {
    float:                left;
    margin:             0 7px 0 5px;
    text-align:            center;
}

#asa_navigation li a {
    display:            block;
    height:                20px;
    padding:            0px 6px 0 6px;
    width:                80px;
    text-decoration:     none;
}
*/
/*
#asa_navigation li a.active, #asa_navigation li a.active:hover {
    background-color:     #ddd;
}

#asa_navigation li a:hover {
    background-color:     #efefef;
}
*/